*::before::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

:root {
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --VerydarkblueBG: hsl(217, 54%, 11%);
    --VerydarkblueCARD: hsl(216, 50%, 16%);
    --VerydarkblueLINE: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: var(--VerydarkblueBG);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--VerydarkblueCARD);
    max-width: 250px;
    padding: 20px;
    border-radius: 10px;
    color: var(--Softblue);
}

.nft-img {
    width: 100%;
    border-radius: 20px;
}

.head-text {
    margin: 20px auto;
    color: var(--Cyan);
    font-size: 20px;
}

.dt {
    display: flex;
    justify-content: space-between;
}
.price {
    color: var(--Cyan);
}

hr {
    margin: 10px auto;
    background-color: var(--VerydarkblueLINE);
    /* padding: 1px; */
}

.footer {
    display: flex;
    gap: 20px;
}

.footer img {
    width: 50px;
    height: 50px;
    /* margin-top: 10px; */
}

.footer .footer-desc {
    margin-top: 10px;
    align-items: center;
}

.footer .footer-span {
    color: var(--Cyan);
}