*::before::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

:root {
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --VerydarkblueBG: hsl(217, 54%, 11%);
    --VerydarkblueCARD: hsl(216, 50%, 16%);
    --VerydarkblueLINE: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body {
    /* font-size: 18px; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: var(--VerydarkblueBG);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--VerydarkblueCARD);
    max-width: 250px;
    padding: 20px;
    border-radius: 10px;
    color: var(--Softblue);
}

.img-wrapper {
    position: relative;
}

.nft-img {
    width: 100%;
    border-radius: 10px;
}

.overlay-img {
    position: absolute;
    inset: 0;
    background-color: var(--Cyan);
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.view {
    width: 70px;
}

.img-wrapper > .nft-img, .img-wrapper > view {
    transition: 200ms ease-out;
}

.img-wrapper > .overlay-img.fade {
    opacity: 0;
}
.img-wrapper:hover > .overlay-img.fade {
    opacity: 1;
}

.head-text {
    color: var(--Cyan);
}

.desc .dt {
    display: flex;
    justify-content: space-between;
}

.desc .dt #price {
    color: var(--Cyan);
}

hr {
    border-color: var(--VerydarkblueLINE);
    border: 1px solid;
}

.footer {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}

.footer img {
    width: 50px;
    display: inline;
    border: 3px solid;
    border-radius: 50%;
}

.footer .footer-desc {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.footer-span {
    color: var(--Cyan);
}